<script
  src="https://kit.fontawesome.com/b669fcd44b.js"
  crossorigin="anonymous"
></script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
  }

  header {
    width: 100%;
    height: 80px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
  }
</style>

<header>
  <h1>List Page</h1>
</header>
